---
openapi: 3.0.3
info:
  title: onecx-theme-bff
  description: OneCx theme Bff
  version: "1.0"
servers:
  - url: http://onecx-theme-bff:8080/
tags:
  - name: theme
paths:
  /themes:
    get:
      tags:
        - themes
      description: Find all themes
      operationId: getThemes
      parameters:
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/pageSize'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetThemesResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
        "404":
          description: Not found
    post:
      tags:
        - themes
      description: Create theme
      operationId: createTheme
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThemeRequest'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateThemeResponse'
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
        "404":
          description: Not Found
  /themes/{id}:
    get:
      tags:
        - themes
      description: Find theme by id
      operationId: getThemeById
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetThemeResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
        "404":
          description: Not Found
    put:
      tags:
        - themes
      description: Update theme
      operationId: updateTheme
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateThemeRequest'
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateThemeResponse'
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
        "404":
          description: Not Found
    delete:
      tags:
        - themes
      description: Delete theme
      operationId: deleteTheme
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
  /themes/search:
    post:
      tags:
        - themes
      description: Search themes by criteria
      operationId: searchThemes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchThemeRequest'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchThemeResponse'
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
        "404":
          description: Not Found
components:
  schemas:
    Theme:
      type: object
      properties:
        version:
          format: int32
          type: integer
        creationDate:
          $ref: '#/components/schemas/OffsetDateTime'
        creationUser:
          type: string
        modificationDate:
          $ref: '#/components/schemas/OffsetDateTime'
        modificationUser:
          type: string
        id:
          type: string
        name:
          minLength: 2
          type: string
        cssFile:
          type: string
        description:
          type: string
        assetsUrl:
          type: string
        logoUrl:
          type: string
        faviconUrl:
          type: string
        previewImageUrl:
          type: string
        assetsUpdateDate:
          type: string
        properties:
          type: object
        portals:
          type: array
          items:
            type: object
    GetThemeResponse:
      required:
        - resource
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/Theme'
    GetThemesResponse:
      allOf:     # Combines the PagingResponse and the Resources
        - $ref: '#/components/schemas/PagingResponse'
        - type: object
          properties:
            stream:
              type: array
              items:
                $ref: '#/components/schemas/Theme'
    CreateThemeResponse:
      required:
        - resource
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/Theme'
    UpdateThemeResponse:
      required:
        - resource
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/Theme'
    OffsetDateTime:
      format: date-time
      type: string
      example: 2022-03-10T12:15:50-04:00
    ProblemDetailResponse:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: string
        errorCode:
          type: string
        detail:
          type: string
        instance:
          type: string
        invalidParams:
          type: array
          items:
            $ref: '#/components/schemas/ValidationConstraint'
    ValidationConstraint:
      type: object
      properties:
        name:
          type: string
        message:
          type: string
    CreateThemeRequest:
      required:
        - resource
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/Theme'
    UpdateThemeRequest:
      required:
        - resource
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/Theme'
    SearchThemeRequest:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/Theme'
    SearchThemeResponse:
      allOf:
        - $ref: '#/components/schemas/PagingResponse'
        - type: object
          properties:
            stream:
              type: array
              items:
                $ref: '#/components/schemas/Theme'
    PagingResponse:
      type: object
      properties:
        totalElements:
          format: int32
          type: integer
        number:
          format: int32
          type: integer
        size:
          format: int32
          type: integer
        totalPages:
          format: int32
          type: integer
  parameters:
    pageNumber:
      in: query
      name: pageNumber
      required: false
      schema:
        type: integer
        format: int32
        default: 0
    pageSize:
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
        format: int32
        default: 100
    id:
      in: path
      name: id
      required: true
      schema:
        type: string